.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px;
}


.content > h2{
    font-size: 2rem;
    align-self: baseline;
    color: #FF0000;
    margin-bottom: 1rem;
}

.content > h2 > span {
    color:white;
    font-size: 2rem;
}

.aboutMe{
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

.aboutMe > p{
    text-align: justify;
    line-height: 1.5rem;
    font-size: 1.0625rem;
}

